.comments-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 40px;
}

.all-comments-container {
    color: black;
    background-color: rgba(211, 211, 211, 0.5);
    overflow-y: auto;
    height: 100%;
    padding: 0 0.5rem;
    margin-top: toRem(100px);
    @media (max-width: 600px) {
        font-size: 0.5rem;
    }
}

.hamburger-comments, .close-comments {
    position: absolute;
    top: toRem(120px);
    right: -15%;
    cursor: pointer;
    @media (max-width: 600px) {
        right: -25%;
    }
}

.nick-textarea, .new-comment-textarea {
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgba(255, 68, 0, 0.26);
    border: 1px solid rgb(255, 170, 140);

    &:focus {
        outline: none;
        border: 1px solid orangered;
    }

    &::placeholder {
        color: black;
    }
}

.comments-form {
    margin-top: 1rem;
}

.new-message-btn {
    padding: 0.25rem 1rem;
    border: 1px solid rgb(255, 170, 140);
    border-radius: 1rem;
    float: right;
    margin-top: 0.5rem;
    
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 68, 0, 0.26);
    }
}

.characters-counter {
    line-height: 1.5;
    background-color: transparent;
}

.single-comment {
    padding: 2px;
    border-radius: 2px;
    background-color: rgba(255, 68, 0, 0.26);
    border: 1px dashed orangered;
}

.photo-rate {
    line-height: 2rem;
    font-weight: 600;
}

.photo-rating {
    margin-left: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid rgb(255, 170, 140);
    background-color: rgba(255, 68, 0, 0.26);
}