@import "../settings/variables";

.top-rated-photos-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin-bottom: toRem(100px);
}

.top-header {
    @media (max-width: 400px) {
        font-size: 1rem;
    }
    font-size: 2rem;
    font-weight: 700;
    font-family: $logo-font-family;
    letter-spacing: 0.5rem;
    text-align: center;
}

.top-photos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.top-photo {
    width: 70%;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    &__image {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

.top-text {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}